node_modules
build
dist
dist2
dist-*
coverage
.nyc_output

.output
.nuxt
**/nuxt-modules/**/templates/*.js
/lib/common/generated/**/*

package-lock.json
yarn.lock
.yarn
.yarnrc.yml

# Profiler output
events.json

# Prettier doesn't understand the syntax inside the Yaml files, because of the brackets
utils/helm/speckle-server/templates

# Optional eslint cache
.eslintcache
.venv
venv

.*.{ts,js,vue,tsx,jsx}
**/generated/**/*
**/generated/graphql.ts

storybook-static
.tshy
.tshy-build