HOST=127.0.0.1
PORT=8082

NUXT_PUBLIC_MIXPANEL_TOKEN_ID=acd87c5a50b56df91a795e999812a3a4
NUXT_PUBLIC_MIXPANEL_API_HOST=https://analytics.speckle.systems

# Browser OpenTelemetry / HyperDX RUM (baked at build time, see deployment/docker/Dockerfile)
NUXT_PUBLIC_HYPERDX_ENABLED=false
NUXT_PUBLIC_HYPERDX_COLLECTOR_URL=http://localhost:4318
NUXT_PUBLIC_HYPERDX_INGESTION_KEY=ffffffff-ffff-ffff-ffff-ffffffffffff
NUXT_PUBLIC_HYPERDX_OTEL_RESOURCE_ATTRIBUTES=service.name=speckle-dui,service.version=1.0.0,service.instance.id=local-1,deployment.environment.name=localhost

SPECKLE_ACCOUNT_ID=undefined
SPECKLE_TOKEN=undefined
SPECKLE_USER_ID=undefined
SPECKLE_URL=undefined
SPECKLE_SAMPLE_PROJECT_ID=undefined
SPECKLE_SAMPLE_MODEL_ID=undefined