name: Linting

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-linting-${{ github.ref }}
  cancel-in-progress: false

permissions: {} # purposefully empty by default at workflow level, explicitly overridden for specific jobs below

jobs:
  lint-and-build:
    runs-on: blacksmith-4vcpu-ubuntu-2404

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.14.0'
          cache: yarn

      - name: Install Dependencies
        run: yarn --immutable

      - name: Run Linter
        run: yarn lint

      - name: Run generate
        run: yarn generate
