name: Linting

on:
  pull_request:
    branches:
      - main

jobs:
  lint-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.14.0"

      - name: Enable Corepack and Install Correct Yarn Version
        run: |
          corepack enable
          corepack prepare yarn@$(jq -r .packageManager package.json | cut -d'@' -f2) --activate
          yarn --version

      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: |
            **/node_modules
            .yarn/cache
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Run Linter
        run: yarn lint

      - name: Run generate
        run: yarn generate
