name: Linting

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-linting-${{ github.ref }}
  cancel-in-progress: false

permissions: {} # purposefully empty by default at workflow level, explicitly overridden for specific jobs below

jobs:
  lint-and-build:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    permissions:
      contents: read
      id-token: write # for publishing to npm using OIDC

    env:
      NPM_REGISTRY_URL: ${{ vars.NPM_REGISTRY_URL }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Enable Corepack and Install Correct Yarn Version
        run: |
          corepack enable
          corepack prepare "yarn@$(jq -r .packageManager package.json | cut -d'@' -f2)" --activate
          yarn --version

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.14.0"
          cache: yarn

      - name: Configure auth to npm registry for @speckle packages
        if: vars.TAILSCALE_CONNECT_FOR_NPM == 'true'
        run: |
          cat <<EOT >> .yarnrc.yml

          npmScopes:
            "speckle":
              npmRegistryServer: "${NPM_REGISTRY_URL}"
          EOT
      - name: Connect to Tailscale
        uses: tailscale/github-action@a392da0a182bba0e9613b6243ebd69529b1878aa
        if: vars.TAILSCALE_CONNECT_FOR_NPM == 'true'
        with:
          oauth-client-id: ${{ secrets.TAILSCALE_OAUTH_CLIENT_ID }}
          audience: ${{ secrets.TAILSCALE_OAUTH_CLIENT_AUDIENCE }}
          tags: tag:ci

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Run Linter
        run: yarn lint

      - name: Run generate
        run: yarn generate
